@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: Consolas, 'IBM Plex Mono', monospace;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
